.nav-link{
    background-color: rgb(255, 54, 228);
    color: rgb(255, 255, 255);
    border-radius : 1;
    margin-left: 10px;
}
.feature-icon {
    
  width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}
body {
    background-color: #31FFFF;
  }
  .container{
    display: flex;
    flex-direction: row-reverse;
  }
  .fg{

    text-align: center;
    vertical-align: middle;
  }
.heddding{
  position: relative; 
  bottom: 10px;
}
   
.footser {
  height:auto;
  background-color:#31FFFF;
  padding-top: 30px;
  padding-bottom:30px;
}

.twitter{
  width:3em;
}

.twitters {
 margin-left:auto;
  margin-right:8000px;
}
