.nav-link{
    background-color: rgb(255, 54, 228);
    color: rgb(255, 255, 255);
    border-radius : 1;
    margin-left: 10px;
}
.feature-icon {
    
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
body {
    background-color: #31FFFF;
  }